* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(150px, auto));
    /*column-gap: 10px;
    row-gap: 10px;*/
    gap: 10px;
    margin: 0 auto;
    width: 75%;
    color: white;
}

#container div {
    padding: 30px;
    background: rgb(65, 46, 87);
}

#container div:nth-child(even){
    background: rgb(79, 61, 238);
}

.one {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.six {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 5;
}

.three {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.four {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.five {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}